<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoiYmlsZWxkaGlmaSIsImEiOiJjbHBpbnF0bHkwMTluMmptZ2JqMHBnbnFpIn0.239qWOcgxgS4jBqvnti7tw</string>
</dict>
</plist>
